* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 0;
}
.col{
    margin-bottom: 1rem;
}

.container_filter{
    background-color: red;
    justify-content: center;
}

